<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header><p>Ceci est une très belle navbar, si tu le voit pas dégage t'es tout pourris</p></header>

    <main>
        <h1>Bienvenue sur notre site web </h1>

        {% block mainContent %} {% endblock mainContent %}
    </main>

    <footer><p>Ouhahou, ça c'est du footer. Du coup il sera sur toute les pages.</p></footer>
</body>
</html>